* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start one */
.one {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.one .container .a {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  font-size: 2rem;
}
.one .container .b {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: hsl(234, 12%, 34%);
}
.one .container .c {
  color: hsl(229, 6%, 66%);
  font-size: .9rem;
  padding: 0 22%;
  font-weight: 400;

}
.two .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 5%;
  column-gap: 2%;
}

.card {
  width: 100%;
  height: 233px;
  padding: 8%;
  box-shadow: 2px 12px 43px 4px hsl(0deg 0% 0% / 10%);
  border-radius: 5px;
  position: relative;
}
.left {
  grid-row-end: 3;
  grid-row-start: 1;
  border-top: 3px solid hsl(180, 62%, 55%);
}
.top {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.bottom {
  border-top: 3px solid hsl(34, 97%, 64%);
}
.right {
  grid-row-end: 3;
  grid-row-start: 1;
  grid-column-start: 3;
  border-top: 3px solid hsl(212, 86%, 64%);
}
h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;

}
.card p {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  opacity: .8;
  font-size: 12px;
  margin-top: 10px;
  width: 88%;
}
img {
  position: absolute;
  bottom: 8%;
  right: 8%;
}
/* Mobile */
@media (max-width: 992px) {
  .two .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 95%;
    height: 233px;
    padding: 8%;
    box-shadow: 2px 12px 43px 4px hsl(0deg 0% 0% / 10%);
    border-radius: 5px;
    position: relative;
  }
  .one .container p {
    font-size: 24px !important;

  }
  .one .container .c {
    color: hsl(229, 6%, 66%);
    font-size: .9rem !important;
    font-weight: 400;
    margin: 0 auto;
    width: 80%;
    padding: 0;
  }
}
/* Mobile */

/* End one */